@charset "UTF-8";

:root {
    --color0: #F2E3D5;
    --color1: 60, 166, 166;
    --color2: #026773;
    --color3: #024959;
    --color4: #012E40;

    --default-font: Arial, Verdana, Helvetica, sans-serif;
    --prominent-font: 'Trebuchet MS';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--default-font);
    background-color: var(--color0);
    
}

header {
    padding: 30px 0;
    background-color: var(--color4);
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    width: 50px;
    margin-right: 10px;
}

header > h1 {
    color: white;
    font-family: var(--prominent-font);
    font-size: 1.5em;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.371);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    background-color: var(--color3);
}

nav a {
    margin: 0 10px;
    padding: 8px;
    border-radius: 4px;
    color: white;
    font-size: .9em;
    text-decoration: none;
    transition: .5s;
}

nav a:hover {
    background-color: var(--color2);
}

main {
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    padding: 10px 40px 30px 40px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.123);
}

main h2 {
    margin: 20px 0;
    color: var(--color4);
    font-family: var(--prominent-font);
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
}

main p {
    margin: 15px 0;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}

main strong {
    color: var(--color4);
    font-weight: bold;
}

main ul {
    line-height: 2em;
    font-size: 1em;
}

main li {
    position: relative;
    padding-left: 50px;
    list-style-position: inside;
    /* list-style: none; */
    list-style-type: '📌\00A0';
}

main .normal-list li {
    list-style: square;
    list-style-position: inside;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--color4);
    background-color: rgba(var(--color1), .75);
    padding: 1px 2px;
    border-radius: 1px;
}

main a:hover {
    text-decoration: underline;
    color: var(--color4);
}

main .special-link {
    background-color: white;
}

main figure {
    text-align: center;
}

main .images-set {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

main figure img {
    border-radius: 5px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.055);
}

main figure figcaption {
    font-style: italic;
    margin-top: 10px;
}

main .code {
    display: flex;
    margin-left: 40px;
    /* justify-content: center;
    align-items: center; */
}

main .code pre {
    padding: 10px 20px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    white-space: pre-wrap; /* To maintain line breaks */
    font-family: 'Courier New', monospace;
}

main span {
    font-weight: 600;
    font-family: 'Courier New', monospace;
}

footer {
    padding: 7px 0px;
    background-color: var(--color4);
}

footer p {
    color: white;
    text-align: center;
}

footer a {
    font-weight: bolder;
    font-style: italic;
    color: var(--color0);
}